body{
    padding: 0px;
    margin: 0;
}

/***************************************Nav*/

nav{
    background-color: #2980b9;
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0;
}

nav div{
    display: flex;
}

nav li{
    display: flex;
}

nav a{
    padding: 1.5rem;
    color: white;
    text-decoration: none;
    display: block;
}

/***************************************Home*/
* {
    text-decoration: none;
}
#Home {
    width: 800px;
    /* height: 400px; */
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    top: 80px;
}

#Home-Welcome{
    color: #bdc3c7;
}

#Home-search-form {
    padding: 10px;
}

#Home ul {
    list-style: none;
}

.book-preview {
    border: 2px solid green;
    padding: 10px;
    
}
#book-previews li {
    position: relative;
}


#star-container {
    position: absolute;
    top: 5px;
    right: 5px;
}